<div id="wrapper">
    <h1>Retro Gaming News Scraper!</h1>
    <div id="articles"></div>
    <div id="notes"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="app.js"></script>